body {
  background-color: rgba(0, 255, 234, 0.377);
  font-family: garamond, serif;
}

img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 20px;
}

.jumbotron {
  background-color: rgba(229, 255, 0, 0.589);
  color:rgb(0, 89, 255);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.jumbotron p {
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

.about-me p {
  font-size: 20px;
}

.projects {
  margin-top: 50px;
}

.port-lang {
  color: rgba(255, 0, 0, 0.979);
}

.interests {
  border: 1px solid blue;
  padding: 15px;
}