body {
  background-color: #eaf1ff;
  font-family: 'Rubik', sans-serif;
  color: #4E4E4E;
  margin-bottom: 0px;
}

img {
  width: 21%;
  height: auto;
  float: left;
  margin-right: 45px;
}

.jumbotron {
  background-color: #eaf1ff;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  border-radius: 0px;
}

h1 {
  font-size: 95px;
}

h2 {
  margin-bottom: 10px;
}

.intro {
  position: relative;
  left: 150px;
}

.intro p {
  font-size: 40px;
  margin-left: 20px;
  margin-bottom: 4px;
  font-weight: 300;
}

.intro span {
  font-size: 32px;
}

.buffer-line {
  padding-top: 28px;
}

.projects {
  margin-top: 70px;
  margin-left: 110px;
}

.port-lang {
  color: rgb(0, 55, 13);
}

.past-life {
  margin-top: 30px;
  text-align: justify;
}

.interests {
  margin-top: 30px;
}

a {
  color: rgb(0, 25, 200);
}

.why {
  margin-top: 30px;
  position: relative;
  left: 190px;
}

.pg-bottom {
  padding-bottom: 70px;
}

.top-bar, .bottom-bar {
  height: 80px;
  background-color: #4E4E4E;
  width: 100%;
}

.bottom-bar {
  margin-top: 40px;
  background-color: rgb(0, 25, 200);
}