body {
  background-color: #eaf1ff;
  font-family: garamond, serif;
  color: #4E4E4E;
}

img {
  width: 21%;
  height: auto;
  float: left;
  margin-right: 45px;
}

.jumbotron {
  background-color: #eaf1ff;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

h1 {
  font-size: 50px;
}

.intro {
  position: relative;
  left: 80px;
}

.intro p {
  font-size: 32px;
  margin-left: 20px;
}

.buffer-line {
  padding-top: 28px;
}

.projects {
  margin-top: 70px;
  margin-left: 110px;
}

.port-lang {
  color: rgb(0, 55, 13);
  font-family: cursive;
}

.past-life {
  margin-top: 35px;
}

.interests {
  margin-top: 35px;
  border-bottom: 1px solid grey;
}

a {
  color: rgb(0, 25, 200);
}